*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --navbar-height: 50px;
  --container-height: calc(100vh - 72px);
}

.form-container {
  max-width: 550px;
  flex: 1;
  padding: 1rem;
}
.navbar,
.navbar ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.full-height {
  height: var(--container-height) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
