*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --navbar-height: 50px;
  --container-height: calc(100vh - 72px);
  --devider: 1px solid rgba(0, 0, 0, 0.224);
}

.form-container {
  max-width: 550px;
  flex: 1;
  padding: 1rem;
}
.navbar,
.navbar ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.full-height {
  height: var(--container-height) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .card {
  max-width: 350px;
  flex: 1;
} */

.home-wrapper {
  padding: 1rem;
}
.home__header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 10px;
  border-bottom: var(--devider);
}

.home {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
